@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text */
  --primary: #007bff; /* Blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212; /* Dark mode background */
    --foreground: #ffffff; /* White text in dark mode */
    --primary: #3399ff; /* Lighter blue for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
